.nav
    width 100vw
    display flex
    align-items center
    padding-inline 23px
    height 64px
    backdrop-filter: blur(30px);
    background #FFFFFF44
    background-size cover
    background-image url('/navbg.png')

#login 
    justify-self end
    
    button
        background none
        border none
        transition color 0.2s ease
        &:hover
            color white
.dialog
    &::backdrop
        backdrop-filter blur(30px)