---
interface Props {
	title: string;
}

import 'tippy.js/dist/tippy.css';
const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<title>{title}</title>

	</head>
	<body>

		<slot />
	</body>
</html>
<style  is:global>
@import url('https://fonts.googleapis.com/css2?family=Hind:wght@500&family=Montserrat&display=swap');
@font-face {
	font-family: 'Harlouda';
	src: url('/harlow.ttf');
}
	*{
		margin: 0;
		--nav-width:64px;
		padding: 0;
	}
	body
	{

		background: url('/mbg.png');
		background-repeat: no-repeat;
		background-size: cover;
	}
	*[data-heading]
	{

		font-family: 'Montserrat';
	}
</style>